@font-face{
    src: url(fonts/MoGa-ReZeKi-DuA.ttf);
    font-family: Moga;
}
@font-face{
    src: url(fonts/Dimbo\ Regular.ttf);
    font-family: Dimbo;
}
:root{
    --bukured: #ED4350;
    --bukuyellow: #EFC31A;
    --box-width: 500px;
    --box-height: 500px;
    --h1: 6rem;
    --h2: 5rem;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--bukuyellow);
}
::-webkit-scrollbar-thumb{
    background: var(--bukured);
    border-radius: 100vw;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ---NAV--- */
.nav-holder{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: .3s;
    
}
.nav-items{
    /* background: linear-gradient(rgba(0, 0, 0, 0.247) 30%, rgba(87, 41, 3, 0.63)), url(images/BucketPatternYellow.png);
    background-size: 500px;
    box-shadow: 0px 4px rgb(124, 72, 12), 0px 6px 5px rgba(0, 0, 0, 0.247); */
    background: linear-gradient(rgb(19, 1, 1, .5) 30%, rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-inline: 300px;
    padding-block: 20px;
    min-height: 100px;
    gap: 40px;
    
}
.nav-items img{
    width: 8rem;
    object-fit:cover;
    transition: .3s;
}
.nav-items img:hover{
    transform: scale(1.1);
}
.nav-items ul{
    padding: 0;
    display: flex;
    gap: 40px;
}
.nav-items li{
    list-style: none;
    font-family: 'Moga';
    transition: .3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.nav-items a{
    text-decoration: none;
    color: #EFC31A;
    font-size: 14px;
    transition: .3s;
}
.inactive:hover{
    transform: scale(1.1);
}
.inactive a:hover{
    color: #ED4350;
}
.inactive::after{
    content:'';
    position: absolute;
    display: block;
    background-color: #ED4350;
    width: 100%;
    height: .1rem;
    transform:scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    
}
.inactive:hover::after{
    transform:scaleX(1);
    transform-origin: bottom left;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
 .active{
    transform: scale(1.1);
}
.active a{
    color: #ED4350;
    text-decoration: underline .1rem;
    text-underline-offset: 4px;
}
.hamburger-menu{
    display:none;
    flex-direction:column;
    gap: 5px;
    padding: 5px;
    background: none;
    border: none;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.158);
}
.hamburger{
    content:'';
    width: 20px;
    height: 3px;
    background: white;
    border-radius: 999px;
}

/* ---FOOTER--- */
footer{
    position: relative;
    margin-top: auto;
    background: rgb(15, 14, 14);
    padding-inline: 100px;
    padding-block: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Moga';
    color: #EFC31A;
    font-size: 15px;
    align-items: center;
}
.copyright{
    right: 100px;
    position: absolute;
}
.social{
    display: flex;
    gap: 50px;
}
.social img{
    width: 1.2rem;
    filter: invert(85%) sepia(18%) saturate(4218%) hue-rotate(351deg) brightness(105%) contrast(87%);
    transition: filter .3s, transform.3s;
}
.social img:hover{
    filter: invert(62%) sepia(89%) saturate(4187%) hue-rotate(322deg) brightness(87%) contrast(117%);
    transform: scale(1.1);
}
.hidden {
    display: none;
}
/* ---HERO--- */
.hero{
    display: flex;
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(39, 25, 10, 0.9)); */
    justify-content: center;
    align-items: center;

}
.vid{
    position: absolute;
    filter:brightness(.3);
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
    width: 100%;
}
.tagline{
    position: relative;
    padding-block: 100px;
    padding-inline: 50px;
    display: flex;
    align-items: top;
    flex-direction: column;
    font-family: 'Moga';
}
.tagline h1{
    max-width: 1000px;
    text-align: center;
    font-size: var(--h1);
    margin: 0;
    color: #ffffff;
    text-shadow: .08em .08em 0 rgba(0, 0, 0, 0.199);
}
/* .outline{
    -webkit-text-stroke: .05rem white;
}  */
.tagline p{
    max-width: 1000px;
    text-align: center;
    color: #ffffff;
    text-shadow: .08em .08em rgba(0, 0, 0, 0.315);
    font-size: 2rem;
    font-family:'Dimbo';
}

/* ---ABOUT--- */
.about-us{
    position: relative;
    background:url(images/BucketPatternYellow.png);
    min-height: 80vh;
    min-height: 80dvh;
    background-attachment: fixed;
    /* box-shadow:0 5px 10px rgba(0, 0, 0, 0.473) inset; */
    background-size: 700px;
    animation: bgMove 10s linear;
    animation-iteration-count: infinite; /*116*/
    display: flex;
    justify-content: left;
    align-items: center;
}
.about-us::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(87, 41, 3, 0.63));
}
.about-container{
    position: relative;
    text-align: center;
    padding: 40px;
    max-width: 600px;
    margin-left: 50%;
}
.about-container h2{
    margin: 0;
    font-family: 'Moga';
    font-size: var(--h2);
    color: #ffffff;
    text-shadow: .08em .08em rgba(0, 0, 0, 0.178);
}
.about-container p{
    font-family: "Dimbo";
    font-size: 1.6rem;
    color: white;
    text-shadow: .08em .08em rgba(0, 0, 0, 0.438);
    letter-spacing: 1px;
}
 .spline-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.custom-shape-divider-bottom-1709838378 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709838378 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1709838378 .shape-fill {
    fill: rgba(73, 42, 1, 0.15);
}
/* ---OUR GAMES--- */
.custom-shape-divider-top-1709853950 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1709853950 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1709853950 .shape-fill {
    fill: rgba(73, 42, 1, 0.2);
}

.our-games{
    z-index: 1;
    position: relative;
    background:linear-gradient(rgba(190, 119, 12, 0.76), rgba(122, 9, 9, 0.562)), url(images/ladbg.png);
    background-size: cover;
    min-height: 100vh;
    min-height: 100dvh;
    
}
/* .our-games::before{
    z-index: -1;
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(87, 41, 3, 0.63), rgba(0, 0, 0, 0.247));
} */
.banner{
    background: rgba(0, 0, 0, 0);
    text-align: center;
}
.banner h2{
    margin-top: 1em;
    font-size: 5rem;
    font-family: 'Moga';
    color: white;
    text-shadow: .08em .08em rgba(0, 0, 0, 0.178);
}
.boxcontainer{
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    position: relative;
    height: var(--box-height);
    width: var(--box-width);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
    border-radius: 5px;
    transition: .3s;
}
/* .box::after { 
    
    box-shadow: inset 0px 0px 20px 10px #00000077;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  } */
.gamelogo{
    z-index: 5;
    width: 75%;
    pointer-events: none;
    position: absolute;
    transition: .6s;
} 
.gamebg-container{
    overflow:hidden;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}
.gamebg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .4s;
    cursor: pointer;
}

.release-date{
    font-family: "Moga";
    color: white;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    pointer-events: none;
    cursor: pointer;
    bottom: -1rem;
    z-index: 1;
    transform: rotate(3deg);
}
.release-date::after{
    content:'';
    background-color: var(--bukured);
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    transform: scale(1.2);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.158);
}
.spacer{
    height: 5rem;
}
.box:hover .gamebg{
    transform: scale(1.1);
}
.box:hover .gamelogo{
    transform: scale(1.2);
}
.lad{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
    min-height: 80vh;
    background: linear-gradient(rgba(190, 119, 12, 0.76), rgba(122, 9, 9, 0.562)), url(images/ladbg.png);
    padding-inline: 200px;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
    justify-content: space-between;
    gap: 50px;
    transition: .3s;
    transform: translateY(10%);
    opacity: 0;
}
.rprt{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
    min-height: 80vh;
    background: linear-gradient(rgba(190, 119, 12, 0.76), rgba(122, 9, 9, 0.562)), url(images/rprtbg.png);
    padding-inline: 200px;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
    justify-content: space-between;
    gap: 50px;
    transition: .3s;
    transform: translateY(10%);
    opacity: 0;
}
.ck{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
    min-height: 80vh;
    background: linear-gradient(rgba(190, 119, 12, 0.76), rgba(122, 9, 9, 0.562)), url(images/ckbg.png);
    padding-inline: 200px;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
    justify-content: space-between;
    gap: 50px;
    transition: .3s;
    transform: translateY(10%);
    opacity: 0;
}
.x-button{
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 20px;
    background: none;
    color: white;
    font-family: 'Moga';
    font-size: 50px;
    border: 4px solid white;
    transition: transform .3s, border .4s;
}
.x-button:hover{
    border: 2px solid #ED4350;
    background-color: #ED4350;
    transform: scale(1.1) rotate(-3deg);
    cursor:pointer;
}
.game-text{
    color: white;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.308);
}
.game-name{
    position: relative;
    font-family: "Moga";
    font-size: 60px;
    font-weight: 100;
    margin: 0;
}
.game-tagline{
    font-family: "Dimbo";
    font-size: 40px;
    font-weight: 100;
    margin-block: 5px;
}
.game-desc{
    font-family: "Dimbo";
    font-size: 22px;
    margin-block: 1rem;
    letter-spacing: 1px;
}
.game-vid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    aspect-ratio: 16 / 9;
	width: 100%;
}
iframe{
    height: 100%;
	width: 100%;
    aspect-ratio: 16 / 9;
	
}
.stores{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.stores button{
    min-width: 200px;
    font-family: 'Dimbo';
    font-size: 2rem;
    padding-block: 10px;
    padding-inline: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: transform .3s, border .4s;

}
.stores button:hover{
    border: 2px solid #ED4350;
    background-color: #ED4350;
    transform: scale(1.1);
    cursor:pointer;
}



/* ---MERCH--- */
.merch{
    position: relative;
    background:url(images/BucketPatternYellow.png);
    min-height: 100vh;
    min-height: 100dvh;
    background-attachment: fixed;
    background-size: 700px;
    animation: bgMove 10s linear;
    animation-iteration-count: infinite; /*116*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.merch::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(87, 41, 3, 0.63));
}
 .goods{
    position: relative;
    flex-direction: column;
    max-width: 1000px;
    padding: 50px;
}
.goods h2{
    font-size: var(--h1);
    font-family: 'Moga';
    margin: 0;
}
.goods p{
    font-family: 'Dimbo';
    font-size: 2rem;
}
.goods button{
    font-family: 'Dimbo';
    font-size: 2rem;
    padding-block: 10px;
    padding-inline: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: transform .3s, border .4s;
}
.goods button:hover{
    border: 2px solid #ED4350;
    background-color: #ED4350;
    transform: scale(1.1);
    cursor:pointer;
}
.merchstuff{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
} 


/* ---CONTACT--- */
.contact{
    position: relative;
    background:url(images/BucketPatternYellow.png);
    min-height: 100vh;
    min-height: 100dvh;
    background-attachment: fixed;
    background-size: 700px;
    animation: bgMove 10s linear;
    animation-iteration-count: infinite; /*116*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.contact::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(87, 41, 3, 0.63));
}
.contact-us{
    margin: 0;
    position: relative;
    flex-direction: column;
    max-width: 1000px;
    padding: 50px;
}
.contact-us h2{
    font-size: var(--h1);
    font-family: 'Moga';
    margin: 0;
}
.contact-us p{
    font-family: 'Dimbo';
    font-size: 2rem;
}
.contact-us button{
    font-family: 'Dimbo';
    font-size: 2rem;
    padding-block: 10px;
    padding-inline: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: transform .3s, border .4s;
}
.contact-us button:hover{
    border: 2px solid #ED4350;
    background-color: #ED4350;
    transform: scale(1.1);
    cursor:pointer;
}
.img-holder{
    background: blue;
    position: absolute;
    left: 0;
    min-height: 700px;
}
.img-holder img{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    width: auto;
}
@keyframes bgMove{
    from{
        background-position: 0px 0px;
    }
    to{
        background-position: 116px -58px;
    }
}
@keyframes slideIn{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1600px){
    .nav-items{
        padding-inline: 200px;
    }
    .lad{
        flex-direction: column;
        text-align: center;
    }
    .rprt{
        flex-direction: column;
        text-align: center;
    }
    .ck{
        flex-direction: column;
        text-align: center;
    }
    .game-vid{
        margin-bottom: 20px;
    }
}
@media (max-width: 900px){
    html, body{
        overflow-x: hidden;
    }
    nav{
        /* background: linear-gradient(to left, rgba(0, 0, 0, 0.247) 70%, rgba(87, 16, 3, 0.404)), url(images/BucketPatternYellow.png);
        background-size: 700px;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.247); */
        background: black;
        position: fixed;
        inset: -10% 0 -10% 30%;
        transform: translateX(110%);
        transition: transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .nav-items ul{
        height: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 25px;
    }
    .nav-items a{
        font-size: 25px;
    }
    .nav-items{
        padding-inline: 50px;
        justify-content: space-between;
    }
    .hamburger-menu{
        z-index: 100;
        display: flex;
        background: var(--bukured);
        border-radius: 10px;
        border: 2px solid white;
        padding: 10px;
    }
    .tagline h1{
        font-size: 60px;
        
    }
    .tagline p{
        font-size: 25px;
       
    }
    .about-us{
        display: block;
        min-height: 50vh;
        background-attachment: scroll;
    }
    .spline-container{
        width: 100%;
        height: 300px;
        position: relative;
    }
    .about-container{
        padding-inline: 50px;
        padding-top: 0;
        padding-bottom: 20px;
        max-width: 100%;
        display: block;
        margin: 0;
        margin-bottom: 50px;
        right: 0;
    }
    .about-container h2{
        font-size: 50px;
        text-shadow: 4px 4px rgba(0, 0, 0, 0.178);
    }
    .about-container p{
        font-size: 16px;
    }
    .banner h2{
        margin-top: 2em;
        font-size: 50px;
        font-family: 'Moga';
        color: white;
        text-shadow: .08em .08em rgba(0, 0, 0, 0.178);
    }
    .release-date{
        font-size: 1.5rem;
    }
    .game-name{
        position: relative;
        font-family: "Moga";
        font-size: 50px;
        font-weight: 100;
        margin-top: 100px;
    }
    .game-tagline{
        font-family: "Dimbo";
        font-size: 30px;
        font-weight: 100;
        margin-block: 5px;
    }
    .game-desc{
        font-family: "Dimbo";
        font-size: 16px;
        margin-block: 1rem;
        letter-spacing: 1px;
        padding-inline: 30px;
    }
    .game-vid{
        margin-bottom: 0;
    }
    .lad{
        padding: 20px;
    }
    .rprt{
        padding: 20px;
    }
    .ck{
        padding: 20px;
    }
    .x-button{
        font-size: 20px;
        padding: 15px;
        right: 20px;
    }
    .stores{
        display: inline-block;
    }
    .stores button{
        font-size: 1rem;
        margin: 10px;
    }
    .goods h2{
        font-size: 60px;
    }
    .goods p{
        font-size: 25px;
    }
    .contact-us h2{
        font-size: 60px;
    }
    .contact-us p{
        font-size: 25px;
    }
    footer{
        flex-direction: column;
        gap: 30px;
    }
    .copyright{
        position: relative;
        right: 0;
    }
}
